body {
    background: rgb(29,40,83);
    background: linear-gradient(to right, rgba(29,40,83,1) 42%, rgba(71,79,110,1) 100%);
}


.header-section {
    background-color: white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color: var(--main-bg-color);
    margin: 15px 0px 15px 0px;
}

.carrousel-container {
    margin-bottom: 20px;
}

.text-content {
    padding: 20px;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.6;
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px blue; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

@media (min-width : 768px) {
    .header-section {
        grid-area: header;
    }

    .slider-content {
        grid-area: slider;
    }

    .text-content {
        grid-area: content;
    }
}

