@media (min-width : 768px) {
    #author-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "header header header"
        "content content slider";
    }
}