@media (min-width : 768px) {

    .slider-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .carrousel-container {
        width: 100%;
    }
}
